@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Financial Application</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="Images/salary-calc.png" alt="Salary Calculator Image">
                <div class="card-body">
                    <h5 class="card-title">Salary Calculator</h5>
                    <p class="card-text">Calculate your after-tax paycheck for various pay periods.</p>
                    <a href="~/SalaryCalculator" class="btn btn-primary">Go to Salary Calculator</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="Images/retirement-calc.png" alt="Retirement Calculator Image">
                <div class="card-body">
                    <h5 class="card-title">Retirement Calculator</h5>
                    <p class="card-text">Work in progress.</p>
                    <a href="~/RetirementCalculator" class="btn btn-primary disabled">Go to Retirement Calculator</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="Images/budget.png" alt="Budget Planner Image">
                <div class="card-body">
                    <h5 class="card-title">Budget Planner</h5>
                    <p class="card-text">Work in progress.</p>
                    <a href="~/BudgetPlanner" class="btn btn-primary disabled">Go to Budget Planner</a>
                </div>
            </div>
        </div>
</div>
